:root {
    color:aqua;
    font-family: "Arial", "Verdana", "Helvetica";
}

body {
    display: flex;
}

.pic-container {
    background-image: url("landscape.jpg");
    background-size: cover;
    background-color: black;
    width: 40vw;
    height: 100vh;
}

.logo-container {
    margin: 30vh 0px;
    background-color: rgba(20, 20, 20, .8);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-size: 40px;
    font-weight: bold;
}

img {
    width: 8rem;
    height: 8rem;

}

.right-container {
    background-color: rgb(20, 20, 20);
    width:60vw;
    height:100vh;
    display:flex;
    flex-direction: column;
}

.hero-container {
    background-color: rgb(7, 220, 0);
    height: 45%;
    color:#fff;
    padding: 40px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;
    box-shadow: 0 5px 20px -2px rgb(23, 212, 51)
}

form {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: auto;
}

.input {
    width: 33%;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
  
}

input {
    appearance: none;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
}

input:focus {
    outline: none !important;
    border:1px solid rgb(7, 220, 0);
    box-shadow: 0 0 2px #719ECE;
}

.password-error {
    outline: none !important;
    border:1px solid rgb(153, 38, 0);
    box-shadow: 0 0 2px #ccce71;
}

.form-title {
    width: 100%;
    font-size: 40px;
    color: white;
}

.form-container {
    padding: 40px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    box-shadow: 0 5px 20px -2px rgb(49, 49, 49)
}

label {
    color: white;
}

.login-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color:#FFFFFF;
}

.btn-container {
    margin: 40px;
}


button {
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(7, 220, 0);
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(7, 220, 0);
    cursor: pointer;
    display: inline-block;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 40px;
    user-select: none;
    touch-action: manipulation;
    width: 33%;
    will-change: transform;
  }
  
  button:disabled {
    pointer-events: none;
  }
  
  button:hover {
    color: #fff;
    background-color: rgb(7, 220, 0);
    border:1px solid rgb(7, 220, 0);
    box-shadow: 0 0 4px #719ECE;

  }
  
  button:active {
    box-shadow: none;
    background-color: rgba(0, 71, 22, 0.431);
    border:1px solid rgba(0, 71, 22, 0.431);
  }

  a:link {
    text-decoration: none;
    color: rgb(7, 220, 0);
  }

  a:hover {
    color: rgba(0, 71, 22, 0.431);
  }

  a:visited {
    color: rgb(7, 220, 0);
  }
  

@media only screen and (max-width: 770px){

    body {
        flex-direction: column;
    }

    .pic-container {
        width: auto;
        height: 15vh;
    }

    .right-container {
        width: auto;
        height: auto;
    }

    .input {
        width: 75%;
        text-align: center;
    }

    .form-container {
        text-align: center;
        justify-content: space-evenly;
    }

    .btn-container {
        text-align: center;
    }

    .login-cont {
        justify-content: center;
    }

    .logo-container {
        margin: 0;
    }

}
